<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Employee List</h2>
    <table border="1" cellpadding="6">
        <tr>
            <th>Employee Id</th>
            <th>Employee Name</th>
            <th>Employee Image</th>
            <th>Employee Department</th>
        </tr>
        {% for emp in employees %}
        <tr>
            <td>{{emp.EmpId}}</td>
            <td>{{emp.EmpName}}</td>
            <td>
                {% if emp.EmpImage%}
                  <img src="{{emp.EmpImage.url}}" alt="{{emp.EmpName}}" width="50">
                {% endif %}
            </td>
            <td>{{emp.EmpDept}}</td>

        </tr>
        {% endfor %}
    </table>
</body>
</html>
        