<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">Brand Ambasidor for Django Classes : </h1>
    <img style="display:block;margin-left:auto;margin-right:auto" src="{% static 'images/prabhas.jpg' %}" alt="image Uploading" height="200px" width="200px"/>
    <ul style="text-align: center;">
        <li style="list-style-type:none;list-style-position: inside;">
            <a href="/home" style="text-decoration: none;text-align:center">Home Page</a>
        </li>
    </ul>
</body>
</html>