<!DOCTYPE html>
{% extends 'myapp/base.html' %}
{% load static  %}
{% block body_block%}
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="card mt-3 shadow-lg">
                    <div class="card-header bg-primary text-center text-white">
                        <p class="h3">Login Here</p>
                    </div>
                    <div class="card-body bg-light">
                        <form action="">
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Enter Name">
                            </div>
                             <div class="mb-3">
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                             <div class="mb-3">
                                <input type="password" class="form-control" placeholder="ConfirmPassword">
                            </div>
                            <div class="mb-3 d-flex  ">
                                <button class="btn btn-sm btn-danger">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
 {%endblock%}   