<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Employees Information</h2>
    <table>
        <tr>
            <td>Employee id</td>
            <td>Employee Name</td>
            <td>Employee Salary</td>
        </tr>
    {%for emp in emp_list%}
    <tr>
        <td>{{emp.empId}}</td>
        <td>{{emp.empName}}</td>
        <td>{{emp.empSal}}</td>
    </tr>
    {%endfor%}
    </table>
</body>
</html>